@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #6B7280; 
    border-radius: 10px;
    transition: background 0.3s ease;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4B5563; 
  }
  
  html {
    scroll-behavior: smooth;
  }
  